---
layout: default
featured:
   -
      icon: fa-solid fa-mattress-pillow
      description: >-
         Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic vel quas a
         labore ipsam, eligendi et. Ex nam dicta atque tempore voluptate nemo
         modi dolorum nesciunt facere veniam. Molestiae, laudantium.
   -
      icon: fa-solid fa-cloud
      description: >-
         Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum,
         dolor sit amet consectetur adipisicing elit. Voluptatem accusantium
         ratione voluptatum beatae dolores saepe vel odio unde amet nobis
         aspernatur atque corrupti debitis iste quis, quia recusandae labore!
         Repudiandae!
   -
      icon: fa-solid fa-bed
      description: >-
         Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium
         placeat quis debitis eveniet sunt possimus! Unde ratione voluptatem
         voluptatum, officiis laudantium impedit, quos aperiam dolorem placeat
         blanditiis ea illo commodi?
   -
      icon: fa-solid fa-moon
      description: >-
         Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem expedita
         facere distinctio iusto aperiam odit id quod eos, commodi, neque
         repellendus quisquam exercitationem, eaque numquam tempora repudiandae
         labore debitis ipsa.
---
<!--------------------------- Header nav banner ------------------------->
    <header class="grid tall-100 md-tall-80">
        
        {% include header-nav.html %}

        <div class="col-12 text-center">
            <h3 class="font-weight-extra-bold"><span class="featured-text">sleep</span> like a baby</h3>
            <h1 class="font-weight-light">the utimate matress solution</h1>
        </div>

    </header>

    <!----------------------------- Gallery section -------------------------------->
    <section class="grid">
        <div class="padded col-6_xs-12-middle">
            <h2>built to last a <span class="featured-text">lifetime</span></h2>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt doloribus soluta nemo animi
                perspiciatis totam veritatis omnis, ipsum expedita fugiat quas cupiditate ipsa temporibus minus
                accusamus? Qui, dicta? Fugit, exercitationem?</p>
            <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Recusandae, quidem! Delectus aperiam commodi,
                eligendi aut dolores sunt recusandae blanditiis ad velit vitae illum veritatis quas asperiores
                voluptates beatae ab. Odit?</p>
        </div>
        <div class="bg-image col-6_xs-12 tall-70 bg-bed">
            <!-- background image bed -->
        </div>
        <div class="bg-image col-6_xs-12 tall-70 bg-pug hide-xs">
            <!-- background image pug sleeping -->
        </div>
        <div class="padded col-6_xs-12
        -middle">
            <h2>so <span class="featured-text">soft</span> you'll melt</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur rerum iste eaque qui eum dolor ad. Iste
                fuga soluta dolore placeat nihil obcaecati repudiandae animi maxime vero et, nobis voluptatibus.</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugit sequi voluptatibus voluptate possimus
                consequuntur recusandae quo corrupti nulla ab voluptatem vero, at repellat, quaerat provident non.
                Molestiae provident tempora quas!</p>
        </div>
    </section>

    <!------------------------- Feature Icon Grid ----------------------------->
    <section class="padded grid-center bg-dark">
        <div class="padded-sm col-12 text-center">
            <h2><span class="featured-text">features</span> you will love</h2>
        </div>

        {% for item in page.featured %}
        <div class="padded-sm col-3_sm-6 xxs-stack">
            <i class="{{item.icon}}"></i>
            <p> {{item.description}} </p>
        </div>
        {% endfor %}

    </section>

    <!-------------------------- Image Banner ------------------------->
    <section class="padded text-center bg-pillow bg-image tall-70 grid">
        <div class="col-12-middle">
            <h3 class="big-text"> <span class="small-text font-weight-normal">never underestimate the power of</span>
                <br /> a good night <span class="white-text">sleep</span>
            </h3>
        </div>
    </section>

    <!-------------------- Testimonials section---------------------->
    <section class="padded-lg grid">
        <div class="col-1 text-right">
            <span class="quote-icon">“</span>
        </div>
        <div class="col-10 text-center">
            <p class="medium-text font-weight-light">I've never experienced sleep like this. OMG! I really love this
                mattress I want to buy one for every
                member of my family</p>
            <p class="subtitle"> - A very happy customer - </p>
        </div>
        <div class="col-1">
            <span class="quote-icon">”</span>
        </div>
    </section>

    