---
layout: default
cards:
 - heading: small heading
   description: Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatem ad perferendis beatae facere eum illo nostrum
   featured_image: /images/the-sleep-co-1.jpg
 - heading: small heading
   description: Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatem ad perferendis beatae facere eum illo nostrum
   featured_image: /images/the-sleep-co-4.jpg
 - heading: small heading
   description: Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatem ad perferendis beatae facere eum illo nostrum
   featured_image: /images/the-sleep-co-2.jpg
---

    <!--------------------------- Header nav banner ------------------------->
    <header class="grid tall-60">
        
        {% include header-nav.html %}

        </div>
        <div class="col-12 text-center">
            <h3 class="font-weight-extra-bold"><span class="featured-text"> addictively</span> soft</h3>
            <h1 class="font-weight-light">you won't want to get out of bed</h1>
        </div>

    </header>

    <!------------------------- Text Grid ----------------------------->
    <section class="padded grid bg-featured">
        <div class="padded-sm col-12 text-center">
            <h2><span class="white-text">features</span> you will love</h2>
        </div>
        <div class="padded-sm col-3">
            <h3> little heading </h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum dolores exercitationem delectus
                consequuntur architecto nihil quia! Sed, et autem natus inventore officiis consequatur repellendus
                corrupti atque, sapiente libero illo asperiores.</p>
        </div>
        <div class="padded-sm col-3">
            <h3> little heading </h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laudantium architecto ipsam ea obcaecati quod
                delectus esse neque, dolorum, exercitationem dolores repudiandae iusto eos voluptates reprehenderit
                perspiciatis recusandae ipsum ut veritatis!</p>
        </div>
        <div class="padded-sm col-3">
            <h3> little heading </h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates est quos non nisi ea sit quaerat vel
                quas dolore corrupti, numquam temporibus accusantium, odit doloribus in corporis libero cum recusandae?
            </p>
        </div>
        <div class="padded-sm col-3">
            <h3> little heading </h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perferendis, atque adipisci molestias
                reprehenderit ex quo. Harum fugit magnam quas in perferendis pariatur autem. Eaque esse, dolorum quam
                ducimus illum quod.</p>
        </div>
    </section>

    <!-- Cards -->

    <section class="grid padded">
        {% for item in page.cards %}
        <div class="col-4 padded-sm">
            <div class="card">
                <div class="bg-image portrait" style="background-image: url('{{item.featured_image}}')"></div>
                <div class="padded-1">
                    <h3> {{item.heading}} </h3>
                    <p> {{item.description}} </p>
                </div>
            </div>
        </div>
        {% endfor %}
       
    </section>

    <!-------------------------- Image Banner ------------------------->
    <section class="padded text-center bg-dark tall-70 grid">
        <div class="col-12-middle">
            <h3 class="big-text"> <span class="small-text font-weight-normal">spend over £150 for</span>
                <br><span class="featured-text">free</span> express shipping
            </h3>
        </div>
    </section>

    <!----------------------------- Gallery section -------------------------------->
    <section class="grid">
        <div class="padded col-6-middle">
            <h2>built to last a <span class="featured-text">lifetime</span></h2>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt doloribus soluta nemo animi
                perspiciatis totam veritatis omnis, ipsum expedita fugiat quas cupiditate ipsa temporibus minus
                accusamus? Qui, dicta? Fugit, exercitationem?</p>
            <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Recusandae, quidem! Delectus aperiam commodi,
                eligendi aut dolores sunt recusandae blanditiis ad velit vitae illum veritatis quas asperiores
                voluptates beatae ab. Odit?</p>
        </div>
        <div class="bg-image col-6 tall-70 bg-bed">
            <!-- background image bed -->
        </div>
        <div class="bg-image col-6 tall-70 bg-pug">
            <!-- background image pug sleeping -->
        </div>
        <div class="padded col-6-middle">
            <h2>so <span class="featured-text">soft</span> you'll melt</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur rerum iste eaque qui eum dolor ad. Iste
                fuga soluta dolore placeat nihil obcaecati repudiandae animi maxime vero et, nobis voluptatibus.</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugit sequi voluptatibus voluptate possimus
                consequuntur recusandae quo corrupti nulla ab voluptatem vero, at repellat, quaerat provident non.
                Molestiae provident tempora quas!</p>
        </div>
        <div class="padded col-6-middle">
            <h2>built to last a <span class="featured-text">lifetime</span></h2>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt doloribus soluta nemo animi
                perspiciatis totam veritatis omnis, ipsum expedita fugiat quas cupiditate ipsa temporibus minus
                accusamus? Qui, dicta? Fugit, exercitationem?</p>
            <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Recusandae, quidem! Delectus aperiam commodi,
                eligendi aut dolores sunt recusandae blanditiis ad velit vitae illum veritatis quas asperiores
                voluptates beatae ab. Odit?</p>
        </div>
        <div class="bg-image col-6 tall-70 bg-bed">
            <!-- background image bed -->
        </div>
    </section>


  